
/* Header Styles */
h1, h2 {
  font-family: 'Arial', sans-serif;
  text-align: center;
}

/* Event Card Styles */
.eventCard {
  background-color: #a0b55c;
  padding: 15px;
  margin: 10px auto;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}