
/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Element Selector */
h2 {
  font-size: 1.5rem;
}

/* ID Selector */
#mainHeader {
  background-color: #333;
  color: white;
}

/* Class Selector */
.eventCard {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 15px;
}

/* Grouping Selector */
h3, p {
  color: #444;
}
