
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

/* Zebra striping */
tr:nth-child(even) {
  background-color: #e6f7ff;
}
